<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Economic Visualization</title>
	<script src="../static/js/echarts.min.js"></script>
	<script src="../static/js/china.js"></script>
	<script src="../static/js/flexible.js"></script>
	<link href="../static/css/index.css" rel="stylesheet"/>

</head>
<body>
<div id="head">
<div id="head">中国地区经济可视化</div>
<div id="showTime"></div>
</div>
<div id="body">
<div id="l1" class="left"></div>
<div id="l2" class="left"></div>
<div id="c1" class="center"></div>
<div id="c2" class="center"></div>
<div id="r1" class="right"></div>
</div>
<script src="../static/js/showTime.js"></script>
<script src="../static/js/left_l1.js"></script>
<script src="../static/js/left_l2.js"></script>
<script src="../static/js/center_c1.js"></script>
<script src="../static/js/center_c2.js"></script>
<script src="../static/js/right_r1.js"></script>
</body>
</html>